body{
    background-color: lightskyblue;
}
form{
    text-align: left;
    font-family: sans-serif;
    background-color: whitesmoke;
    height: 500px;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}
nav{
    background-color: whitesmoke;
    height: 60px;
    border-bottom: inset orange;
    border-width: 1px;
    text-align: right;
    
}
#aboutus{
    background-color: blue;
    color: cornsilk;
    width: 40px;
    height: 20px;
    font-family: sans-serif;
    font-size: large;
    text-decoration: none;
}
#register{
    background-color: blue;
    color: cornsilk;
    width: 40px;
    height: 20px;
    font-family: sans-serif;
    font-size: large;
    text-decoration: none;
}
#h3{
    color: black;
    font-size: 28px;
    padding: 10px;
    position: relative;
}
#amazon{
    height: 40px;
    width: 40px;
    
}
#facebook{
    height: 40px;
    width: 40px;
}
#github{
    height: 40px;
    width: 40px;
}
#slack{
    height: 40px;
    width: 40px;
}
#instagram{
    height: 40px;
    width: 60px;
}
.icons{
    margin-left: 25%;
    margin-right: 25%;
}